#div1{
    background-color: aqua;
}
#hello{
    margin: 10px;
}
.btn{
    width: 50px;

}
.line{

}
#div{
    display: flex;
}
hr {

    position: relative;
    display: inline-block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 2px;
}